.container_io {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 130rem;
    padding: 0 3rem;
    margin: auto;
}

.container_input,
.container_output {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.container_header-input,
.container_header-output {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

textarea.input,
textarea.output {
    width: 100%;
    height: 50rem;
    resize: none;
}

@media (max-width: 1200px) {
    .container_io {
        flex-direction: column;
    }

    textarea.input,
    textarea.output {
        width: 100%;
        max-width: 100%;
        height: 40rem;
    }
}