.container_io {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.container_input,
.container_output {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.container_header-input,
.container_header-output {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

textarea.input,
textarea.output {
    width: 30rem;
    height: 50rem;
    resize: none;
}