h1 {
    text-align: center;
}

label {
    font-weight: bold;
}

.container-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.hidden {
    visibility: hidden;
}