.container-options {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.options-table {
    border: 1px solid silver;
}

.options-table th {
    text-align: right;
}

.options-table #output-date-prefix {
    width: 2.2rem;
}

.options-table #output-date {
    
}

.options-table #ignore-lines-prefixes {
    width: 15rem;
}

.options-table #heading-order {
    width: 15rem;
}

.options-table #ignore-heading-case {
    
}

.options-table #copy-on-merge {
    
}

.options-table .options-buttons-container {
    text-align: center;
}

.options-table .options-buttons-container button {

}