.container_options {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}



/* Accordion */

.options-accordion-summary {
    border: 1px solid #aaaaaa;
    background-color: #eeeeee;
    border-radius: 0.3rem;
    padding: 0.1rem 0.5rem;
    margin-bottom: 0.2rem;
    text-align: center;
    cursor: pointer;
}
.options-accordion-summary:hover {
    background-color: #e0e0e0;
}



/* Options table */

.options-table {
    border: 1px solid silver;
}

.options-table th {
    text-align: right;
}

.options-table #output-date-prefix {
    width: 2.2rem;
}

.options-table #output-date {
    
}

.options-table #ignore-lines-prefixes {
    width: 15rem;
}

.options-table #heading-order {
    width: 15rem;
}

.options-table #ignore-heading-case {
    
}

.options-table #copy-on-merge {
    
}

.options-table .container_options-buttons {
    text-align: center;
}

.options-table .container_options-buttons button {

}