.container_options {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}



.options-accordion summary {
    border-radius: 0.3rem;
    text-align: center;
    padding: 0.1rem 0.5rem;
    width: fit-content;
    margin: auto;
    margin-bottom: 0.2rem;
    user-select: none;

    &::marker {
        content: '';
    }

    &::before {
        content: '>';
        display: inline-block;
        margin-right: 0.3rem;
        /* transition: transform 0.2s; */
    }
}

.options-accordion[open] summary::before {
    transform: rotate(90deg);
}



.options-table {
    border: 1px solid silver;

    th {
        text-align: right;
    }

    #output-date-prefix {
        width: 2.2rem;
    }

    #ignore-lines-prefixes {
        width: 15rem;
    }

    #heading-order {
        width: 15rem;
    }

    #indent-multiplier {
        width: 2.2rem;
    }

    .container_options-buttons {
        text-align: center;
    }
}