h1 {
    text-align: center;
}

label {
    font-weight: bold;
}

.container-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.container-input,
.container-output {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.container-header-input,
.container-header-output {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

textarea.input {
    width: 20rem;
    height: 30rem;
}

textarea.output {
    width: 20rem;
    height: 30rem;
}